# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = liuwh
	email = liuwh@google.com
[url "sso://gke-internal"]
  insteadof = https://gke-internal.googlesource.com
[url "sso://gke-internal"]
  insteadof = https://gke-internal.git.corp.google.com
[url "sso://team"]
  insteadof = https://team.git.corp.google.com
[pull]
	rebase = true
[url "sso://graybox"]
	insteadof = https://graybox.git.corp.google.com
[alias]
	review = "!f() { git push origin HEAD:refs/for/${1:-main}; }; f"
[core]
	excludesFile = /usr/local/google/home/liuwh/.gitignore
[commit]
	template = /usr/local/google/home/liuwh/.gitmessage
[advice]
	detachedHead = false
